#main {
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
}

.rules-container {
  border: 1px solid var(--black-100);
  border-radius: var(--radius-sm);
  padding: 2% 4%;
  margin-top: var(--sp-lg);
}

@media (max-width: 600px) {
}
